<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Main Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet" media="screen">
  <link href="{{ url_for('static', filename='bootstrap-responsive.css') }}" rel="stylesheet">
</head>

<body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
<div class="navbar navbar-inverse navbar-fixed-top" >
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active">
              <a href="/select">Home</a>
            </li>
          </ul>
          <div class="nav pull-right">
              <a class="btn btn-small btn-primary" href="/survey">Edit Survey</a>
              <a class="btn btn-danger" href="/logout">Logout</a>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="container" style="padding-top:50px">
  <div class="row">
    {% if username and lock == False %}
      <h2 class="muted">Hi, {{ username }}</h2>
      {{description}}
      <hr>
      <h4>Your batch(es)</h4>
        {% if batchs|length == 0 %}
          <span class="label">Note </span><small> You have to pull a batch from existing batchs</small><br>
        {% endif %}
        <form action="/{{survey_name}}/startconding" method="post">
          {% for batch in batchs %}
          <div class="row">
          <div class="span2">
            <label class="radio"><input type="radio" name="pull_batch" value="{{batch}}" checked="true">
              Batch {{batch}}
            </label>
          </div>
          <div class="span2">
              {% set counter=batch|int() %}
                {% if result['dict'][counter-1][username] == 100 %}
                  <span class="badge badge-success">Finished</span>
                {% else %}
                  {% if result['dict'][counter-1][username] %}
                    <span class="badge badge-info">Labeled {{result['dict'][counter-1][username]}}/100
                    </span>
                  {% else %}
                    <span class="badge badge-info">Labeled 0/100
                    </span>
                  {% endif %}
                {% endif %}
          </div>
          </div>
          {% endfor %}
          {% if batchs|length == 0 %}
            <a class="btn btn-success btn-large disabled" href="#">Start coding</a>
            <a class="btn btn-primary btn-large disabled" href="#">Put Back</a>
          {% else %}
             <button type="submit" name="code" value="true" class="btn btn-info btn-large">
              Start Coding
            </button>
            <button type="submit" name="back" value="true" class="btn btn-primary btn-large">
              Put Back
            </button>
          {% endif %}
            <button type="submit" name="pull" class="btn btn-large btn-primary" value="true">
              Give me a new batch
            </button>
        </form>
      <hr>
      <h4>Existing Batches</h4>
      {% if result %}
        <table class="table table-hover">
          <tr>
            <td><strong>Batch#</strong></td>

            <td><strong>Labelling</strong></td>

            <td><strong>Action</strong></td>
          </tr>
          <form action="/{{survey_name}}/pull" method="post">
            {% for i in range(0, 10)%}
              <tr>
                <td>{{result['batch'][i]}}</td>

                <td>
                {% for j in range(0, result['owner'][i]|length) %}
                  {{ result['owner'][i][j] }} ({{ result['labeld'][i][j] }})
                
                {% endfor %}
                </td>

                <td>
                  {% if result['owner'][i]|length < result['fold'] %}  <!--Here should adapt Fold-->
                    <button type="submit" name="pull" value="{{result['batch'][i]}}" class="btn btn-small btn-primary">
                      Pull 
                    </button>
                  {% else %}
                    <span class="label label-warning">Taken</span>
                  {% endif %}
                  
                </td>
              </tr>
            {% endfor %}
        </form>
      </table>
      <ul class="pager">
        {% if page == 1 %}
          <li class="previous disabled">
            <a href="#">&larr; Previous</a>
          </li>
        {% else %}
          <li class="previous">
            <a href="/admin/{{survey_name}}/{{page-1}}">&larr; Previous</a>
          </li>
        {% endif %}
        Page {{page}}/10
        {% if page == 10 %}
          <li class="next disabled">
            <a href="#">Next &rarr;</a>
          </li>
        {% else %}
          <li class="next">
            <a href="/admin/{{survey_name}}/{{page+1}}">Next &rarr;</a>
          </li>
        {% endif %}
      </ul>
      {% endif %}
    {% else %}
      {% if lock == False %}
        <h2 class="muted">Sorry you are not signed in</h2>
        <p>Click <a href="#">here</a> to sing in</p>
      {% else %}
        <h1 class="muted">Sorry this page is not available for you</h1>
      {% endif %}
    {% endif %}
	</div><!--end row-->
</div><!--end container-->

</body>
</html>