<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Build Survey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='bootstrap-responsive.css') }}" rel="stylesheet">
</head>

<body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{{ url_for('static', filename='bootstrap.js') }}"></script>

<div class="container">
  <div class="row">
    <h1>{{survey_name}}</h1>
    <h2>Question {{question_nr}}</h2>
    <a href="#" class="btn btn-small disabled">Make this a matrix question</a>
    <h4>Enter the question you want to ask in below section</h4>
    {% if question %}
      <textarea name="question" form="build_matrix_survey" rows="3">{{question["text"]}}</textarea>
    {% else %}
      <textarea name="question" form="build_matrix_survey" rows="3" placeholder="Enter the question"></textarea>
    {% endif %}

    <h4>Row Choices: Enter each choice on a separate line.</h4>
    {% if row_choices %}
      <textarea name="row_choices" form="build_matrix_survey" rows="4">{{row_choices}}</textarea>
      <br>
    {% else %}
      <textarea name="row_choices" form="build_matrix_survey" rows="4" placeholder="Enter the answers"></textarea>
      <br>
    {% endif %}
    <h4>Column Choices: Enter the text for each column on a separate line.</h4>
    {% if column_choices %}
      <textarea name="column_choices" form="build_matrix_survey" rows="4">{{column_choices}}</textarea>
      <br>
    {% else %}
      <textarea name="column_choices" form="build_matrix_survey" rows="4" placeholder="Enter the answers"></textarea>
      <br>
    {% endif %}

    What is the type of the question?<br>
    {% if  question %}

    <select name="option" form="build_matrix_survey">
      {% if question["option"] == "multiple" %}
        <option value="multiple">Multiple-choice/dichotomy (e.g., “check all that apply”)</option>
        <option value="single">Single-choice question</option>
        <option value="any">Check only if any apply(e.g., “don't have to select one answer”)</option>
      {% elif question["option"] == 'single' %}
        <option value="single">Single-choice question</option>
        <option value="multiple">Multiple-choice/dichotomy (e.g., “check all that apply”)</option>
        <option value="any">Check only if any apply(e.g., “don't have to select one answer”)</option>
      {% elif question["option"] == 'any' %}
        <option value="any">Check only if any apply(e.g., “don't have to select one answer”)</option>
        <option value="single">Single-choice question</option>
        <option value="multiple">Multiple-choice/dichotomy (e.g., “check all that apply”)</option>
      {% else %}
        <option value="single">Single-choice question</option>
        <option value="multiple">Multiple-choice/dichotomy (e.g., “check all that apply”)</option>
        <option value="any">Check only if any apply(e.g., “don't have to select one answer”)</option>
      {% endif %}
    </select>

    {% else %}
      <select name="option" form="build_matrix_survey">
        <option value="single">Single-choice question</option>
        <option value="multiple">Multiple-choice/dichotomy (e.g., “check all that apply”)</option>
        <option value="any">Check only if any apply(e.g., “don't have to select one answer”)</option>
      </select>

    {% endif %}

    <form method="post" action="/build_matrix_survey" id="build_matrix_survey">
      {% if "followup" in question and question["followup"] == True %}
        <label class="checkbox">
          <input type="checkbox" name="followup" value="true" checked> This is a follow up question for the previous question.
        </label>
      {% else %}
        <label class="checkbox">
          <input type="checkbox" name="followup" value="true"> This is a follow up question for the previous question.
        </label>
      {% endif %}
      <input type="hidden" name="survey_name" value="{{survey_name}}">
      <input type="hidden" name="question_nr" value="{{question_nr}}">
      {% if flag == "insert" %}
        <input type="submit" name="submit" class="btn btn-info" value="Insert">
      {% else %}
      <input type="submit" name="submit" class="btn btn-info" value="Finish">

      {% endif %}
    </form>
  </div><!--end row-->
</div><!--end container-->

</body>
</html>