<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Log In</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet" media="screen">
  <link href="{{ url_for('static', filename='bootstrap-responsive.css') }}" rel="stylesheet">
  <script type="text/javascript" charset="utf-8" >
  function validateSignUpForm()
  {
    var value1=document.forms["signupform"]["emailSignup"].value;
    var value2=document.forms["signupform"]["userName"].value;

    if (value1 == null || value1 == "")
      {
        alert("Email must be filled in order to sign up");
        return false;
      }
    if (value2 == null || value2 == "")
      {
        alert("User name must be filled in order to sign up");
        return false;
      }
  }
  function validateSignInForm()
  {
    var value3=document.forms["signinform"]["emailSignin"].value;

    if (value3 == null || value3 == "")
      {
        alert("Email must be filled in order to sign in");
        return false;
      }
  }
  </script>
</head>

<style>
body {
    background: url(../static/img/Login.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
</style>
<body>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
	<div class="container-fluid">
	  <div class="row-fluid"  style="padding-top:100px">
	  	<div class="span2">
	  	</div>
	    <div class="span6">
			<form class="form-horizontal" name="signinform" action="/login" method="POST" onsubmit="return validateSignInForm()">
  				<div class="control-group">
    				<div class="controls">
    					<h2 style="color: black">Please Sign in</h2><br>
      					<input type="text" name="emailSignin" placeholder="Email">
    				</div>
  				</div>
  				<div class="control-group">
    				<div class="controls">
      					<input type="submit" name="submit" class="btn btn-success" value="Sign in">
    				</div>
  				</div>
      </form>
			<br>
			<br>
			<br>
      <form class="form-horizontal" name="signupform" action="/signup" method="POST" onsubmit="return validateSignUpForm()">
  				<div class="control-group">
    				<div class="controls">
    					<h2 style="color: black">First time? Please Sign up</h2><br>
      					<input type="text" name="emailSignup" placeholder="Email">
    				</div>
  				</div>
  				<div class="control-group">
    				<div class="controls">
      					<input type="text" name="userName" placeholder="User Name">
    				</div>
  				</div>
  				<div class="control-group">
    				<div class="controls">
      					<input type="submit" name="submit" class="btn btn-warning" value="Sign up">
    				</div>
  				</div>
			</form>
	    </div>

		<div class="span2">
	      <!--Sidebar2 content-->
	    </div>
	  </div>
	</div>

</body>
</html>