<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Label</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='bootstrap-responsive.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet" media="screen">
</head>

<body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
<div class="navbar navbar-inverse navbar-fixed-top" >
    <div class="navbar-inner">
      <div class="container">
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active">
              <a href="/gun_control/mainpage/">Home</a>
            </li>
          </ul>
          <div class="pull-right">
            <a class="btn btn-primary" href="/survey">Survey
            </a>
            <a class="btn btn-danger" href="/logout">Logout
            </a>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="container" style="padding-top:50px">
  <div class="row">
    {% if username %}
      <strong>Batch {{batch}}</strong>&nbsp;&nbsp;
      Tweet Number: {{result["tweet_nr"]}}/100
      <br>
      <form action="/gun_control/label" method="POST">
        <strong>Tweet: </strong> {{result["text"]}}
        {% for link in result["link"] %}
            <a href="{{link}}" target="_blank">Appended Link</a>
        {% endfor %}
        <br>
        <input type="submit" name="submit" value="SPAM Tweet" class="btn btn-danger btn-small"><br>
        <strong>User Name: </strong> {{result["user"]}}<br>
        <input type="hidden" name="tweetid" value="{{result["id"]}}">
        <input type="hidden" name="batch" value="{{batch}}">
        <input type="hidden" name="tweet_nr" value="{{result["tweet_nr"]}}">
        <!--Here start the surveys-->
        {% for q in questions %}
            <strong>{{q["_id"]}}. {{q["text"]}}</strong>
            {% if q["option"] == "multiple" %}
                {% for a in q["answers"] %}
                    <label class="checkbox">
                        <input type="checkbox" name="{{q['_id']}}" value="{{a["text"]}}">
                        {{a["text"]}}
                    </label>
                {% endfor %}
            {% else %}
                {% for a in q["answers"] %}
                    <label class="radio">
                        <input type="radio" name="{{q['_id']}}" value="{{a["text"]}}">
                        {{a["text"]}}
                    </label>
                {% endfor %}
            {% endif %}
        {% endfor %}
        <!--End Survey-->
        <input type="submit" name="submit" value="next" class="btn btn-info btn-large">
      </form>
    {% else %}
      <h3 class="muted">Sorry you are not signed in</h3>
      <p>Click <a href="#">here</a> to sing in</p>
    {% endif %}
    </div><!--end row-->
</div><!--end container-->

</body>
</html>