<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='bootstrap-responsive.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet" media="screen">
</head>

<body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{{ url_for('static', filename='bootstrap.js') }}"></script>

<div class="container">
  <div class="row">
    {% if username %}
      <a href="/gun_control/mainpage/1" class="btn btn-success">
       Home
      </a>
      <hr>
      <strong>Batch {{batch}}</strong>&nbsp;&nbsp;
      Tweet Number: {{result["tweet_nr"]}}/100
      <br>
      <form action="/gun_control/label" method="POST">
        <strong>Tweet: </strong> {{result["text"]}}<br>
        <strong>User Name: </strong> {{result["user"]}}
        <input type="hidden" name="tweetid" value="{{result["id"]}}">
        <input type="hidden" name="batch" value="{{batch}}">
        <input type="hidden" name="tweet_nr" value="{{result["tweet_nr"]}}">
        <input type="submit" name="submit" value="Not English" class="btn btn-danger btn-small">
        <!--Here start the surveys-->
        <h3>Topic</h3>
        <input type="checkbox" name="newtown" value="true">
        &nbsp;Newtown Massacre&nbsp;&nbsp;
        <input type="checkbox" name="guncontrol" value="true">
        &nbsp;Gun Control&nbsp;&nbsp;
        <input type="checkbox" name="nra" value="true">
        &nbsp;NRA&nbsp;&nbsp;
        <input type="checkbox" name="unsure" value="true">
        &nbsp;Not Sure
        <br>
        <h3>Sentiment</h3>
        <input type="radio" name="sentiment" value="pro">
        &nbsp;Pro&nbsp;&nbsp;
        <input type="radio" name="sentiment" value="con">
        &nbsp;Con&nbsp;&nbsp;
        <input type="radio" name="sentiment" value="neutral">
        &nbsp;Neutral
        <br>
        <h2>Emotion</h2>
        <input type="checkbox" name="anger" value="true">
        &nbsp;Anger&nbsp;&nbsp;
        <input type="checkbox" name="sad" value="true">
        &nbsp;Sad&nbsp;&nbsp;
        <input type="checkbox" name="sympathy" value="true">
        &nbsp;Sympathy
        <input type="checkbox" name="groupidentity" value="true">
        &nbsp;Does it express group identity?
        <br>
        <h2>Organization</h2>
        <input type="radio" name="org" value="news">
        &nbsp;News Organization&nbsp;&nbsp;
        <input type="radio" name="org" value="political">
        &nbsp;Political Organization&nbsp;&nbsp;
        <input type="radio" name="org" value="individual">
        &nbsp;Individual&nbsp;&nbsp;
        <input type="radio" name="org" value="unknown">
        &nbsp;Not Sure
        <br>
        <h2>Information</h2>
        <input type="checkbox" name="past_regulation" value="true">
        &nbsp;Does is show information about past regulation of gun control&nbsp;&nbsp;
        <br>
        <input type="checkbox" name="call_to_action" value="true">
        &nbsp;Does is show information about call to action(eg: Protest, Request to denote )&nbsp;&nbsp;
        <br>
        <h2>Link</h2>
        Which of the following did you look to answer the above questions?<br>
        <input type="radio" name="information" value="link">
        &nbsp;Link&nbsp;&nbsp;
        <input type="radio" name="information" value="tweet">
        &nbsp;Tweet&nbsp;&nbsp;
        <input type="radio" name="information" value="both">
        &nbsp;Both&nbsp;&nbsp;
        <input type="radio" name="information" value="neither">
        &nbsp;Neither&nbsp;&nbsp;
        <br>

        <!--End Survey-->

        <input type="submit" name="submit" value="next" class="btn btn-info btn-large">
      </form>
    {% else %}
      <h2 class="muted">Sorry you are not signed in</h2>
      <p>Click <a href="#">here</a> to sing in</p>
    {% endif %}
    </div><!--end row-->
</div><!--end container-->

</body>
</html>