<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Main Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{ url_for('static', filename='bootstrap-responsive.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet" media="screen">
</head>

<body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
<div class="navbar navbar-inverse navbar-fixed-top" >
    <div class="navbar-inner">
      <div class="container">
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active">
              <a href="/gun_control/mainpage/">Home</a>
            </li>
          </ul>
          <div class="pull-right">
            <a class="btn btn-primary" href="/survey">Survey
            </a>
            <a class="btn btn-danger" href="/logout">Logout
            </a>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="container" style="padding-top:50px">
  <div class="row">
    {% if username %}
      <h2 class="muted">Hi, {{ username }}</h2>
      <hr>
      <h4>Your batch(s)</h4>
        {% if batchs|length == 0 %}
          <span class="label">Note </span><small> You have to pull a batch from existing batchs</small><br>
        {% endif %}
        <form action="/gun_control/label" method="post">
          {% for batch in batchs %}
          <div class="row">
          <div class="span2">
            <label class="radio"><input type="radio" name="pull_batch" value="{{batch}}" checked="true">
              Batch {{batch}}
            </label>
          </div>
          <div class="span2">
              {% set counter=batch|int() %}
                {% if result['dict'][counter-1][username] == 100 %}
                  <span class="badge badge-success">Finished</span>
                {% else %}
                  {% if result['dict'][counter-1][username] %}
                    <span class="badge badge-info">Labeled {{result['dict'][counter-1][username]}}/100
                    </span>
                  {% else %}
                    <span class="badge badge-info">Labeled 0/100
                    </span>
                  {% endif %}
                {% endif %}
          </div>
          </div>
          {% endfor %}
          {% if batchs|length == 0 %}
            <a class="btn btn-success btn-large disabled" href="#">Go to Label</a>
          {% else %}
            <input type="submit" name="submit" value="Go to Label" class="btn btn-success btn-large">
          {% endif %}
        </form>
      <hr>
      <h4>Existing Batches</h4>
      {% if result %}
        <table class="table table-hover">
          <tr>
            <td><strong>Batch#</strong></td>

            <td><strong>Labelling</strong></td>

            <td><strong>Action</strong></td>
          </tr>
          <form action="/gun_control/pull" method="post">
            {% for i in range(0, 20)%}
              <tr>
                <td>{{result['batch'][i]}}</td>

                <td>
                {% if result['owner'][i]|length == 2 %}

                  {{ result['owner'][i][0] }} ({{ result['labeld'][i][0] }}),
                  {{ result['owner'][i][1] }} ({{ result['labeld'][i][1] }})
                {% elif result['owner'][i]|length == 1 %}
                  {{ result['owner'][i][0] }} ({{ result['labeld'][i][0] }})
                {% endif %}
                </td>

                <td>
                {% if result['sampling'] < 20 %} <!--Here should adapt percentage-->
                  {% if result['owner'][i]|length < 2 %}  <!--Here should adapt Fold-->
                    <label class="radio">
                      <input type="radio" name="batch" value="{{result['batch'][i]}}">
                      Pull
                    </label>
                  {% else %}
                    <span class="label label-info">Taken</span>
                  {% endif %}
                {% else %}
                  {% if result['owner'][i]|length == 0 %}
                    <label class="radio">
                      <input type="radio" name="batch" value="{{result['batch'][i]}}">
                      Pull
                    </label>
                  {% else %}
                    <span class="label label-info">Taken</span>
                  {% endif %}
                {% endif %}
                </td>
              </tr>
            {% endfor %}
            <tr>
              <td></td>
              <td></td>
              <td><input type="submit" class="btn btn-primary" value="Confirm" data-loading-text="Loading..."></td>
            </tr>
        </form>
      </table>
      <ul class="pager">
        {% if page == 1 %}
          <li class="previous disabled">
            <a href="#">&larr; Previous</a>
          </li>
        {% else %}
          <li class="previous">
            <a href="/gun_control/mainpage/{{page-1}}">&larr; Previous</a>
          </li>
        {% endif %}
        Page {{page}}/5
        {% if page == 5 %}
          <li class="next disabled">
            <a href="#">Next &rarr;</a>
          </li>
        {% else %}
          <li class="next">
            <a href="/gun_control/mainpage/{{page+1}}">Next &rarr;</a>
          </li>
        {% endif %}
      </ul>
      {% endif %}
    {% else %}
      <h2 class="muted">Sorry you are not signed in</h2>
      <p>Click <a href="#">here</a> to sing in</p>
    {% endif %}
	</div><!--end row-->
</div><!--end container-->

</body>
</html>