<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="{{ url_for('static', filename='bootstrap-responsive.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet" media="screen">
</head>

<body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
<div class="navbar navbar-inverse navbar-fixed-top" >
    <div class="navbar-inner">
      <div class="container">
        <div class="nav-collapse collapse">
          <div class="pull-right">
            <a class="btn btn-primary" href="/survey">Edit Survey
            </a>
            <a class="btn btn-danger" href="/logout">Logout
            </a>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="container" style="padding-top:50px">
  <div class="row">
    <h1>Please choose the topic you want to start labelling</h1>
    <form action="/select" method="POST">
        {% for r in result%}
          {% if r['lock'] == True %}
            <a class="btn btn-large btn-info disabled" href="#">
            {{r["survey_name"]}}
            </a>
            <span class="label label-important">Locked</span>
          {% else %}
            <button type="submit" class="btn btn-large btn-info" name="survey" value="{{r['survey_name']}}">
            {{r["survey_name"]}}
            </button>
          {%endif%}
        {% endfor %}
    </form>
    </div>
</div>
</body>
</html>