<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="{{ url_for('static', filename='bootstrap-responsive.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet" media="screen">
</head>

<body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{{ url_for('static', filename='bootstrap.js') }}"></script>

<div class="container">
  <div class="row">
    <h1>Add a New Survey!</h1>
    <form method="post" action="/process_survey">
        <input type="text" name="survey" placeholder="Enter the title for new survey...">
        <input type="submit" name="submit" class="btn btn-success" value="Create">
    </form>
    <h1>Choose an existing survey to edit</h1>
    <form method="post" action="/process_survey">
    {% for e in result %}
        <label class="radio">
            <input type="radio" name="exist_survey" value="{{e}}" checked>
            {{e}}
        </label>
    {% endfor %}
    <input type="submit" name="submit" class="btn btn-success" value="Edit">
    </form>
  </div><!--end row-->
</div><!--end container-->

</body>
</html>