<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="{{ url_for('static', filename='bootstrap-responsive.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet" media="screen">
</head>

<body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
<div class="navbar navbar-inverse navbar-fixed-top" >
    <div class="navbar-inner">
      <div class="container">
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li>
              <a href="/gun_control/mainpage/">Home</a>
            </li>
          </ul>
          <div class="pull-right">
            <a class="btn btn-danger" href="/logout">Logout
            </a>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="container" style="padding-top:50px">
  <div class="row">
    <h1>Create a survey for existing topic!</h1>
    <form method="post" action="/process_survey">
      <label class="radio">
        <input type="radio" name="survey" value="Gun Control">Gun Control
      </label>
        <input type="submit" name="submit" class="btn btn-success" value="Create">
    </form>
    <h1>Choose an existing survey to edit</h1>
    <form method="post" action="/process_survey">
    {% for e in result %}
        <label class="radio">
            <input type="radio" name="survey_name" value="{{e['survey_name']}}" checked>
            {{e["survey_name"]}}
            {% if e["lock"] == True %}
              <span class="label label-important">Locked</span>
            {% endif %}
        </label>
    {% endfor %}
    <input type="submit" name="submit" class="btn btn-success" value="Edit">
    <input type="submit" name="submit" class="btn btn-danger" value="Lock">
    <input type="submit" name="submit" class="btn btn-warning" value="Unlock">
    </form>
  </div><!--end row-->
</div><!--end container-->

</body>
</html>