<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='bootstrap-responsive.css') }}" rel="stylesheet">
</head>

<body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
<div class="navbar navbar-inverse navbar-fixed-top" >
    <div class="navbar-inner">
      <div class="container">
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li>
              <a href="/gun_control/mainpage/">Home</a>
            </li>
          </ul>
          <div class="pull-right">
            <a href="/gun_control/mainpage/" href="/survey" class="btn btn-success">Finish</a>
            <a class="btn btn-danger" href="/logout">Logout
            </a>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="container" style="padding-top:50px">
  <div class="row">
    <h1>{{survey_name}}</h1>
    <div class="span8">
    <form method="post" action="/edit_survey/description" id="description_form">
        <input type="hidden" name="survey_name" value="{{survey_name}}">
        <textarea name="description" form="description_form" rows="5" cols="80">{{description}}
        </textarea><br>
        <input type="submit" name="submit" class="btn btn-small btn-info" value="Update Description">    
    </form>
    <br>
    <form method="post" action="/edit_survey" name="surveyform">
        <input type="hidden" name="survey_name" value="{{survey_name}}">
        <table class="table">
        {% for q in questions %}
        <tr>
          <td>           
            <br>
            <strong>{{q["_id"]}}. {{q["text"]}}</strong>
            {% if q["option"] == "multiple" %}
                {% for a in q["answers"] %}
                    <label class="checkbox">
                        <input type="checkbox" value="">
                        {{a["text"]}}
                    </label>
                {% endfor %}
            {% elif q["option"] == "single" %}
                {% for a in q["answers"] %}
                    <label class="radio">
                        <input type="radio" name="radio" value="">
                        {{a["text"]}}
                    </label>
                {% endfor %}
            {% endif %}
            <button type="submit" name="edit" value="{{q['_id']}}" class="btn btn-small btn-info">
              Edit 
            </button>
            <button type="submit" name="insert" value="{{q['_id']}}" class="btn btn-small btn-success">
              Insert Below
            </button>
            <button type="submit" name="new" value="{{q['_id']}}" class="btn btn-small btn-primary">
              Add to the End
            </button>
            <button type="submit" name="delete" value="{{q['_id']}}" class="btn btn-small btn-danger">
              Delete
            </button>
            <button type="submit" name="up" value="{{q['_id']}}" class="btn btn-small btn-warning">
              Move Up
            </button>
            <button type="submit" name="down" value="{{q['_id']}}" class="btn btn-small btn-warning">
              Move Down
            </button>
          </td>
        </tr>
        {% endfor %}
        </table>
        <br>
        <br>
        
    </form>
    </div>
    <div class="span4" style="background-color: #e4e7eb">
        {% for l in log %}
            <strong>{{l["user"]}}: </strong>{{l["msg"]}} at {{l["create_at"]}}<br><br>
        {% endfor %}
    </div>
  </div><!--end row-->
</div><!--end container-->

</body>
</html>