<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='bootstrap-responsive.css') }}" rel="stylesheet">
</head>

<body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
<div class="navbar navbar-inverse navbar-fixed-top" >
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li>
              <a href="/select">Home</a>
            </li>
          </ul>
          <div class="nav pull-right">
            <a class="btn btn-danger" href="/logout">Logout
            </a>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="container" style="padding-top:50px">
  <div class="row">
    <h1>Choose an existing survey to edit</h1>
    <form method="post" action="/process_survey">
    {% for e in result %}
      <strong>{{e["survey_name"]}}</strong>
      {% if e["lock"] == True %}
        <span class="label label-important">Locked</span>
      {% endif %}
      <br>
      <br>
      <button type="submit" name="edit" class="btn btn-success" value="{{e['survey_name']}}">
        Edit
      </button>
      <button type="submit" name="lock" class="btn btn-danger" value="{{e['survey_name']}}">
        Lock
      </button>
      <button type="submit" name="unlock" class="btn btn-warning" value="{{e['survey_name']}}">
        Unlock
      </button>
      <br>
      <br>
      <br>
    {% endfor %}
    
    </form>
  </div><!--end row-->
</div><!--end container-->

</body>
</html>