<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="{{ url_for('static', filename='bootstrap-responsive.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet" media="screen">
</head>

<body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
<div class="navbar navbar-inverse navbar-fixed-top" >
    <div class="navbar-inner">
      <div class="container">
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active">
              <a href="/gun_control/mainpage/">Home</a>
            </li>
          </ul>
          <div class="pull-right">
            <a class="btn btn-primary" href="/survey">Edit Survey
            </a>
            <a class="btn btn-danger" href="/logout">Logout
            </a>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="container" style="padding-top:50px">
  <div class="row">
    <h1>{{survey_name}}</h1>
    <div class="span8">
    <form method="post" action="/edit_survey/description" id="description_form">
        <input type="hidden" name="survey_name" value="{{survey_name}}">
        <textarea name="description" form="description_form" rows="5" cols="50">{{description}}
        </textarea>
        <input type="submit" name="submit" class="btn btn-small" value="Update Description">    
    </form>
    <br>
    <form method="post" action="/edit_survey" name="surveyform">
        <input type="submit" name="submit" class="btn btn-small" value="Edit Question">
        <input type="submit" name="submit" class="btn btn-small" value="Delete Question">
        <input type="submit" name="submit" class="btn btn-small" value="Move Up">
        <input type="submit" name="submit" class="btn btn-small" value="Move Down">
        <input type="submit" name="submit" class="btn btn-small" value="Insert Question">
        <input type="submit" name="submit" class="btn btn-info" value="New Question">
        <input type="hidden" name="survey_name" value="{{survey_name}}">
        <table class="table">
        {% for q in questions %}
            <tr>

            <td>
            <strong>{{q["_id"]}}. {{q["text"]}}</strong>
            {% if q["option"] == "multiple" %}
                {% for a in q["answers"] %}
                    <label class="checkbox">
                        <input type="checkbox" value="">
                        {{a["text"]}}
                    </label>
                {% endfor %}
            {% elif q["option"] == "single" %}
                {% for a in q["answers"] %}
                    <label class="radio">
                        <input type="radio" name="radio" value="">
                        {{a["text"]}}
                    </label>
                {% endfor %}
            {% endif %}
        </td>
         <td>
            <label class="radio">
                <input type="radio" name="question_nr" value="{{q['_id']}}">Check to apply above operation
            </label>
            </td>
        </tr>
        {% endfor %}
        </table>
        <br>
        <br>
        
    </form>
    </div>
    <div class="span4" style="background-color: #e4e7eb">
        {% for l in log %}
            <strong>{{l["user"]}}: </strong>{{l["msg"]}} at {{l["create_at"]}}<br><br>
        {% endfor %}
    </div>
  </div><!--end row-->
</div><!--end container-->

</body>
</html>