<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='bootstrap-responsive.css') }}" rel="stylesheet">
</head>

<body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
<div class="navbar navbar-inverse navbar-fixed-top" >
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li>
            </li>
          </ul>
          <div class="nav pull-right">
            <a href="/survey" class="btn btn-success">Finish</a>
            <a class="btn btn-danger" href="/logout">Logout
            </a>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="container" style="padding-top:50px">
  <div class="row">
    <h1>{{survey["survey_name"]}}</h1><br>
    
    <div class="span8">
    <h5>Description</h5>
    <form method="post" action="/edit_survey/description" id="description_form">
        <input type="hidden" name="survey_name" value="{{survey['survey_name']}}">
        <textarea name="description" form="description_form" rows="5" cols="80">{{survey["description"]}}
        </textarea><br>
        <input type="submit" name="submit" class="btn btn-small btn-info" value="Update Description">
    </form>
    <hr>
    <h5>Intercode Reliability Options</h5>
    <form method="post" action="/edit_survey/intercode" id="intercode">
      <input type="hidden" name="survey_name" value="{{survey['survey_name']}}">
      {% if "intercode" in survey and survey["intercode"] == True %}
        <label class="checkbox">
          <input type="checkbox" name="applyintercode" value="true" checked>
          Apply Intercode Reliability 
        </label>
      {% else %}
        <label class="checkbox">
          <input type="checkbox" name="applyintercode" value="true"> 
          Apply Intercode Reliability 
        </label>
      {% endif %}
      <select name="fold" form="intercode">
        <option value="{{survey['fold']}}">{{survey['fold']}}</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
      <br>
      <button type="submit" name="apply" value="true" class="btn btn-small btn-info">
        Apply
      </button>
    </form>
    <hr>
    <h5>Save Survey Options</h5>
    <form method="post" action="/edit_survey/save_survey" id="load_question">
      <input type="hidden" name="survey_name" value="{{survey['survey_name']}}">
      <button type="submit" name="save" value="true" class="btn btn-small btn-success">
        Save questions in this survey
      </button>
      <br>
      <br>
      <br>
      <select name="option" form="load_question">
        <option value=""></option>
        {% for r in result%}
        <option value="{{r['survey_name']}}">{{r["survey_name"]}}</option>
        {% endfor %}
      </select>
      <br>
      <button type="submit" name="load" value="true" class="btn btn-small btn-warning">
        Load Survey Questions
      </button>
    </form>

    <form method="post" action="/edit_survey" name="surveyform">
        <input type="hidden" name="survey_name" value="{{survey['survey_name']}}">
        <table class="table">
        {% for q in survey["questions"] %}
        <tr>
          <td>
            <br>
            <strong>{{q["_id"]}}. {{q["text"]}}</strong>
            {% if "matrix" in q and q["matrix"] == true %}
              <table class="table table-hover">
                <tr>
                  <td></td>
                  {% for c in q["column_choices"] %}
                    <td>{{c["text"]}}</td>
                  {% endfor %}
                </tr>
                {% for r in q["row_choices"] %}
                  <tr>
                    <td>{{r["text"]}}</td>
                    {% for c in q["column_choices"] %}
                      {% if q["option"] == "multiple" %}
                      <td><input type="checkbox" value=""></td>
                      {% elif q["option"] == "single" %}
                      <td><input type="radio" value="" name="{{r}}"></td>
                      {% elif q["option"] == "any" %}
                      <td><input type="radio" value="" name="{{r}}"></td>
                      {%endif%}
                    {% endfor %}
                  </tr>
                {% endfor %}
              </table>
            {% else %}
              {% if q["option"] == "multiple" %}
                {% for a in q["answers"] %}
                    <label class="checkbox">
                        <input type="checkbox" value="">
                        {{a["text"]}}
                    </label>
                {% endfor %}
              {% elif q["option"] == "single" %}
                {% for a in q["answers"] %}
                    <label class="radio">
                        <input type="radio" name="radio" value="">
                        {{a["text"]}}
                    </label>
                {% endfor %}
              {% elif q["option"] == "any" %}
                {% for a in q["answers"] %}
                    <label class="checkbox">
                        <input type="checkbox" value="">
                        {{a["text"]}}
                    </label>
                {% endfor %}
              {% endif %}
            {% endif %}
            <button type="submit" name="edit" value="{{q['_id']}}" class="btn btn-small btn-info">
              Edit
            </button>
            <button type="submit" name="insert" value="{{q['_id']}}" class="btn btn-small btn-success">
              Insert Question Below
            </button>
            <button type="submit" name="new" value="{{q['_id']}}" class="btn btn-small btn-primary">
              Add Question to the End
            </button>
            <button type="submit" name="delete" value="{{q['_id']}}" class="btn btn-small btn-danger">
              Delete
            </button>
            <button type="submit" name="up" value="{{q['_id']}}" class="btn btn-small btn-warning">
              Move Up
            </button>
            <button type="submit" name="down" value="{{q['_id']}}" class="btn btn-small btn-warning">
              Move Down
            </button>
          </td>
        </tr>
        {% endfor %}
        </table>
        <br>
        <br>

    </form>
    </div>
    <div class="span4" style="background-color: #e4e7eb">
        {% for l in log %}
            <strong>{{l["user"]}}: </strong>{{l["msg"]}} at {{l["create_at"]}}<br><br>
        {% endfor %}
    </div>
  </div><!--end row-->
</div><!--end container-->

</body>
</html>